#
{% raw %}
#
# mysql granular permissions for bugzilla ( from automation )
#
{% endraw %}

{% if mysqlbugs.bugsword is defined %}
REVOKE ALL ON bugs.* from 'bugs'@'localhost';
GRANT SELECT, INSERT, UPDATE, DELETE ON bugs.* TO 'bugs'@'localhost' IDENTIFIED BY '{{mysqlbugs.bugsword}}';
GRANT INDEX, ALTER, CREATE, DROP, REFERENCES ON bugs.* TO 'bugs'@'localhost' IDENTIFIED BY '{{mysqlbugs.bugsword}}';
GRANT LOCK TABLES, CREATE TEMPORARY TABLES ON bugs.* TO 'bugs'@'localhost' IDENTIFIED BY '{{mysqlbugs.bugsword}}';
{% else %}
/* REVOKE ALL ON bugs.* from 'bugs'@'localhost'; */
/* Missing INDENTIFIED BY so not recommended. Better to have bugsword variable set in your automation */
GRANT SELECT, INSERT, UPDATE, DELETE ON bugs.* TO 'bugs'@'localhost';
GRANT INDEX, ALTER, CREATE, DROP, REFERENCES ON bugs.* TO 'bugs'@'localhost';
GRANT LOCK TABLES, CREATE TEMPORARY TABLES ON bugs.* TO 'bugs'@'localhost';
{% endif %}

FLUSH PRIVILEGES;

# SHOW GRANTS FOR 'bugs'@'localhost';

