{{ '[' }}mysqld{{ ']' }}
{% raw %}
#
# mysqld extra settings from automation
#
{% endraw %}
{% if mysqlbugs.max_allowed_packet is defined %}
max_allowed_packet	= {{mysqlbugs.max_allowed_packet}}
{% else %}
max_allowed_packet	= 100M
{% endif %}
ft_min_word_len		= 2
ft_stopword_file	=
general_log_file	= /var/lib/mysql/mysql_general.log
