{% if apachevars.cgiport is defined and apachevars.cgiport > 80 %}
<VirtualHost *:{{apachevars.cgiport}}>
{% else %}
<VirtualHost *:8380>
{% endif %}

   ServerName localhost
   ServerAlias bugs.nix4.co.uk
   ServerAdmin webmaster@localhost

	#DocumentRoot /var/www/public_html
	<Directory /var/www/shtml>
		Options +ExecCGI
		AddHandler cgi-script .cgi
		DirectoryIndex index.cgi index.html
		AllowOverride Limit FileInfo Indexes Options
		Order allow,deny
		allow from all
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log
	LogLevel info

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

	#DocumentRoot /opt/local/webdata/cgi/
	DocumentRoot /var/www/shtml/
</VirtualHost>
