<IfModule mod_cgid.c>
{% if apachevars.cgiport is defined and apachevars.cgiport > 80 %}
Listen {{apachevars.cgiport}}
{% else %}
Listen 8380
{% endif %}
</IfModule>

<IfModule mod_cgi.c>
{% if apachevars.cgiport is defined and apachevars.cgiport > 80 %}
#Listen {{apachevars.cgiport}}
{% else %}
#Listen 8380
{% endif %}
</IfModule>
