<?xml version="1.0" encoding="utf-8"?>
<Context docBase="{{solr4vars.deploypath}}/solr.war" debug="0" crossContext="true">
  <Environment name="solr/home" type="java.lang.String" value="{{solr4vars.homepath}}/solr" override="true"/>
</Context>
